.rounded-circle{
    height: 110px;
    width: 110px;
    text-align: center;

}

.background {
    /* background-image: url("/public/img/landingback.JPG"); */
    background-size: cover; /* Or 100vw 100vh for responsive scaling */
    background-repeat: no-repeat;
    background-attachment: fixed; /* This is the key! */
  }