.rounded-circle {
    /* Existing styles... */
    display: flex; /* Enable flexbox layout */
    flex-direction: column; /* Stack content vertically */
    align-items: center; /* Horizontally center content */
    justify-content: center; /* Vertically center content */
    height: 150px; /* Increase height */
    width: 150px; /* Increase width */
  }

  .raised-button {
    /* Existing styles from .rounded-circle... */
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);
  }
  
  

.background {
    /* background-image: url("/public/img/landingback.JPG"); */
    background-size: cover; /* Or 100vw 100vh for responsive scaling */
    background-repeat: no-repeat;
    background-attachment: fixed; /* This is the key! */
  }